/*  
    Created on : 05 June 2023
    Author     : Tiego Masemola | Hashbrown_CWA
    https://cw-arts.netlify.app/about-us
*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body 
{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    padding:  5px 10px;
    margin: 0;

    font-family: "Asap", sans-serif;
}

h3{
    margin: -10px 0 10px 0;
}

h3 a, h4 a{
    text-decoration: none;
    color: #616336;
}

h3 a:hover, h4 a:hover{
    text-decoration: underline;
}

/* GALLERY STYLING */
.image-container{
    width: 100%;
    height: auto;
    background-color: #bcbcbc;
    padding: 10px;
    border-radius: 10px;
}

.cwa-lightbox-image{
    display: flex;
    float: left;
    margin: 5px;
    height: 25vh;
    width: auto;
    background-color: white;
}